body{
  display: flex;
}
#avai {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 200px;
line-height: 28vh;

color: #000000;
}

#con {
  margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}

.text {
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 23px;
}
.refresh {
  margin-left: 10px;
  width: 28px;
  height: 26px;
background: url('./refresh.svg');
background-repeat: no-repeat;
}

.refCon {
  margin-top: -5.5vh;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 20px;
  width: 94px;
height: 94px;
background: url('./logo.svg');
background-repeat: no-repeat;
}

.listCon {
  margin-top: 20px;
  width: 100vw;
  height: 61vh;
  background: #050431cf;
  overflow: auto;
}
.list {
  list-style: none;
  line-height: 2rem;
}